@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<ul>
    <li>My name is Jackie</li>
    <li>I am 27</li>
    <li>I go by she/her or they/them</li>
    <li>I was raised Christian, then identified as Wiccan for a few months, then atheist up until pretty recently.</li>
    <li>I have a cat named Vincent.</li>
    <li>My favorite color is purple.</li>
</ul>
