@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<div>
    
    <a href="https://sociallyanxiousdragon.tumblr.com"><img style="width:50px; height:50px;" src="~/Content/tumblrlogo.png" /></a>
</div>