.navbar{
    background: rebeccapurple;
   border: 5px solid darkgrey;
   border-radius:30px;
   margin-left: 50px;
   margin-right: 50px;
   
   
}
.navbar-inverse .navbar-brand {
    color: antiquewhite;
    
}
.navbar-inverse:hover .navbar-brand:hover{
    color: yellow;
}
body {
    /*background: lightgrey;*/
    color: indigo;
    background: #CBAF0E url('technologybackgroundyellow.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron {
    background: lavender;
    
}
.carousel{
    width: 200px;
}

.carousel-inner img {
  margin: auto;
}

.center-div
{
     margin: 0 auto;
      
}
.box{
    background: lavender;
    border-radius: 20px;
    margin:10px;
    padding: 20px;
}
/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: darkgrey; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rebeccapurple; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
