.navbar{
    background: rebeccapurple;
   
}
.navbar-inverse .navbar-brand {
    color: antiquewhite;
}
.navbar-inverse:hover .navbar-brand:hover{
    color: yellow;
}
body{
    background: lightgrey;
}
.jumbotron {
    background: lavender;
}
.carousel{
    width: 200px;
}

.carousel-inner img {
  margin: auto;
}

.center-div
{
     margin: 0 auto;
      
}
